/* Pathways To Certification Title */

img {
  width: 100%;
}

.title {
  font: var(--font-title);
  text-align: center;
}

.heading {
  font: var(--font-heading);
}

.list {
  margin-left: 2rem;
}

.red {
  color: var(--color-ccidc-red);
}

.message {
  text-align: center;
}

.item {
  margin-top: 0 !important;
}

.textDivider {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}

.textDivider::after {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  flex-grow: 1;
  margin-top: 3em;
  margin-left: var(--text-divider-gap);
}

.apply {
  margin-left: auto;
  margin-right: auto;
}

.textDivider2 {
  display: flex;
  align-items: center;
  --text-divider-gap: 1rem;
}

.textDivider2::before {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  flex-grow: 1;
  margin-right: var(--text-divider-gap);
}
.textDivider2::after {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  flex-grow: 1;
  margin-left: var(--text-divider-gap);
}

/* Pathways */

.pathwaysContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 1.25rem;
}

.pathwayRows {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 1.25rem;
}

.pathwayContainer {
  width: 38rem;
  height: 15.25rem;
  border-radius: 10px;
  border: 1px solid #d8d8d8;
}

.pathName {
  margin-top: 1.7rem;
  margin-left: 1.5rem;
}

.pathwayText {
  width: auto;
  height: 5.5rem;
  margin: 0.875rem 1.5rem;
  line-height: 1.5em;
}

/* Learn More Button */
.learnMoreBtn {
  margin-right: 1.7rem;
  float: right;
}

/* FAQ's Title, Contianer, and Components */

.FaqsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 1.875rem;
}

.faqBar {
  display: flex;
  flex-direction: row;
  column-gap: 0.7rem;
  align-items: center;
}

.moreInfo {
  padding: 0 !important;
}
