.form {
  /* Add styles specific to the PrescreeningForm component */
  max-width: 500px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font: var(--font-title);
  text-align: center;
}

.headingtwo {
  font-weight: 250;
}

.question {
  font: var(--font-heading2);
}

.ulprescreening {
  padding-left: 3rem;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}

input[type="radio"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid var(--color-ccidc-red);
  border-radius: 50%;
  outline: none;
}
input[type="radio"]:hover {
  box-shadow: 0 0 5px 0px var(--color-ccidc-red) inset;
}
input[type="radio"]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}
input[type="radio"]:checked:before {
  background: var(--color-ccidc-red);
}
.label {
  display: flex;
  /* This will vertically align the text with the center of the radio button */
  align-items: center;
  /* Adjust this value as needed to fine-tune the alignment */
  line-height: 1.5;
  margin-left: 30px;
  margin-top: -25px;
}

.label > p {
  margin-top: 0;
}

.center {
  display: flex;
  justify-self: center;
}

.blueLink {
  color: blue;
}
