.button {
  padding: 0.7rem 1rem;
  margin: 0;
  background: var(--color-ccidc-red);
  color: var(--color-text-secondary);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  outline: none;
  font: var(--font-body);
}
