.button {
  padding: 8px 16px;
  margin: 0;
  background: var(--primary);
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 24px;
}
