.dropDown {
  cursor: pointer;
  background-color: white;
  font-size: 16px;
  color: var(--color-ccidc-placeholder);
  height: 40px;

  border-radius: 4px;
  border: 1px solid #d8d8d8;
  background-image: url("../assets/dropDownIcon.svg");
  background-repeat: no-repeat, repeat;
  background-position:
    right 0.7em top 50%,
    0 0;
  max-width: 28rem;
}

.dpContent {
  position: relative;
  top: 25%;
  width: 100%;
  background: white;
  gap: 1em;
  border: 1px solid #d8d8d8;
  font-size: 16px;
}

.dpItem {
  padding: 10px;
  border: 0.5px solid #d8d8d8;
  color: black;
  cursor: pointer;
}

.selectOne {
  margin-left: 15px;
  margin-top: 10px;
}

.selectedOption {
  color: black;
  margin-left: 15px;
  margin-top: 10px;
}

.dpItem:hover {
  background-color: #ebebeb;
}
