.select {
  padding: 0.5rem 1rem;
  width: 100%;
  background-image: url("../assets/dropDownIcon.svg");
  background-repeat: no-repeat, repeat;
  background-position:
    right 0.7em top 50%,
    0 0;
  font: var(--font-body);
  border-color: #d8d8d8;
  border-radius: 0.25rem;

  /* hide arrow for Firefox */
  -moz-appearance: none;
  /* hide arrow for Chrome */
  -webkit-appearance: none;
}

/* hide arrow for IE10 */
.select::-ms-expand {
  display: none;
}

.select.unselected {
  color: #b4b4b4;
}
