.red {
  color: var(--color-ccidc-red);
}

.formContainer {
  /* width: 80%; */
  margin: 3rem 10rem !important;
  background-color: var(--color-text-secondary);
}

.formSection {
  margin: 3rem auto !important;
  width: 80%;
}

.applyFacts {
  width: 80%;
  margin: 3rem auto !important;
}
.listText {
  color: black;
  margin: 0;
}

.bulletPoint {
  list-style-type: disc;
  color: var(--color-ccidc-red);
}
