.pageNavigator {
  height: 6rem;
  width: 90%;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

#arrow {
  margin-right: 5rem;
}

#backArrow {
  margin-left: 5rem;
}

button img {
  margin-top: 1rem;
}

/* General Styling */
button {
  background: none;
  display: flex;
}
