.page4Form {
  background-color: white;
}

.formRow {
  display: flex;
  justify-content: space-between;
  margin-left: 245px;
  margin-right: 245px;
  padding-bottom: 30px;
}

.sectionTitle {
  display: flex;
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 700;
  margin-left: 245px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: "Rubik";
  font-size: 12px;
  font-weight: 200;
  color: #6c6c6c;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40px;
  width: 460px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  font-family: "Rubik";
  font-size: 16px;
  font-weight: 200;
}

.line {
  border: 0.5px solid #d8d8d8;
  margin-top: 30px;
}

.note {
  margin-left: 245px;
}

.lightBlue {
  color: var(--color-ccidc-blue);
}
.buttonRow {
  display: flex;
  justify-content: space-between;
  margin-left: 220px;
  margin-right: 220px;
  padding-bottom: 30px;
}

.warningText {
  color: #ad281f;
  margin-left: 245px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.add {
  font-family: "Rubik";
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  width: 80px;
  margin-left: 870px;
  display: flex;
  align-items: center;
}

.upload {
  font-family: "Rubik";
  font-size: 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  height: 40px;
  width: 300px;
  text-align: left;
  align-items: center;
  display: flex;
  margin-left: 250px;
}

input[type="checkbox"].select {
  margin-left: 0;
  visibility: hidden;
}

input[type="checkbox"].select + label::before {
  content: "";
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  border: 2px solid var(--color-ccidc-red);
  border-radius: 5px;
  background-color: white;
  margin-right: 1em;
}

input[type="checkbox"].select:checked + label::before {
  background-color: var(--color-ccidc-red);
}

.checkboxLabel {
  margin-left: 230px;
}
