.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
    width: 460px;
    border-radius: 4px;
    border: 1px solid #D8D8D8;
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 200;
}

.label {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-family: 'Rubik';
    font-size: 12px;
    font-weight: 200;
    color: #6C6C6C;
}


.formRow {
    display: flex;
    justify-content: space-between;
    margin-left: 245px;
    margin-right: 245px;
    padding-bottom: 30px;
}

.sectionTitle {
    display: flex;
    font-family: "Rubik";
    font-size: 18px;
    font-weight: 700;
    margin-left: 245px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.line {
    border: 0.5px solid #D8D8D8;
    margin-top: 30px;
}

.arrow {
    border: none;
    margin-top: 30px;
}

.buttonRow {
    display: flex;
    justify-content: space-between;
    margin-left: 220px;
    margin-right: 220px;
    padding-bottom: 30px;
}

.warningText {
    color: #AD281F;
    margin-left: 245px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.add {
    font-family: "Rubik";
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 80px;
    margin-left: 870px;
    display: flex;
    align-items: center;
}

.upload {
    font-family: "Rubik";
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 300px;
    text-align: left;
    align-items: center;
    display: flex;
    margin-left: 250px;
    

}