.pathwayApplicationBase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.applicationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 31rem;
  width: 100%;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.title {
  text-align: center;
  font: var(--font-title);
  padding-bottom: 2rem;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.pathContent {
  line-height: 1.5em;
  text-align: center;
  font-family: var(--font-nav);
  width: 75rem;
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 3em;
}

.note {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-align: center;
}

.red {
  color: var(--color-ccidc-red);
}

.backArrow img:hover {
  content: url("../assets/toggledBackArrow.svg");
}

.arrow img:hover {
  content: url("../assets/toggledArrow.svg");
}

.pageNavigator {
  height: 6rem;
  width: 90%;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

#arrow {
  margin-right: 5rem;
}

#backArrow {
  margin-left: 5rem;
}

button img {
  margin-top: 1rem;
}

/* General Styling */
button {
  background: none;
  display: flex;
}
