.red {
  color: var(--color-ccidc-red);
}

.applicationContainer {
  width: 76rem;
  height: 30rem;
}

.title {
  text-align: center;
  font: var(--font-pathway);
  padding-bottom: 3rem;
  padding-top: 4rem;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.pathContent {
  line-height: 1.5em;
  text-align: center;
  font-family: var(--font-nav);
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3em;
  padding-top: 3em;
}

.note {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-align: center;
}
