.red {
  color: var(--color-ccidc-red);
}

.formContainer {
  background-color: var(--color-text-secondary);
}

.formSection {
  margin: 3rem auto !important;
  width: 80%;
}

.paymentportalbutton {
  font-family: "Rubik";
  font-size: 15px;
  background-color: white;
  color: var(--color-ccidc-red);
  border: 1px solid var(--color-ccidc-red);
  align-items: center;
  display: flex;
  justify-content: center;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}