.formSectionContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
  }
  
  .sectionName {
    margin: 0;
    font-size: 18px !important;
  }
  
  .inputBox {
    margin-top: 1rem;
  }
  
  .inputTitle {
    font-size: 12px;
    color: #6c6c6c;
  }
  
  ::placeholder {
    color: var(--color-accent);
    opacity: 1; /* Firefox */
  }
  
  .inputText {
    width: 100%;
    padding: 8px 48px 8px 16px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-text-primary);
    font: var(--font-body);
    border: 1px solid var(--color-shadow);
    border-radius: 5px;
  }
  
  /* .inputTextSelected {
    width: 100%;
    padding: 8px 48px 8px 16px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-accent);
    font: var(--font-body);
    border: 1px solid var(--color-shadow);
    border-radius: 5px;
  } */
  
  select.inputText {
    /* Arrow */
    appearance: none;
    background-image: url("../assets/dropArrow.svg");
    background-repeat: no-repeat;
    background-position: right top 50%;
    cursor: pointer;
    /* color: var(--color-accent); */
  }
  .selectInput {
    border: 0;
    vertical-align: middle;
    background: transparent;
    -webkit-appearance: none;
    appearance: none;
    padding-left: 5px;
  }
  
  .optionDefault {
    color: var(--color-accent);
  }
  
  .optionSelected {
    color: var(--color-text-primary);
  }
  
  .nameWithAdd {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nameWithAdd h2 {
    align-self: center;
  }
  
  .add {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    height: 40px;
    width: 94px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 8px 16px 8px 16px;
  }
